.title {
    font-family: "Tinos";
    font-weight: bold;
    font-size: 2.5em;;
    margin-bottom: 0%;
    text-align: center;
}

p {
    font-family: "Tinos";
    font-weight: 500;
    color: rgb(51, 51, 51);
    text-align: justify;
    text-align-last: center;
    text-overflow: ellipsis;
    line-height: normal;
}

strong {
    font-family: "Tinos";
    color: rgb(51, 51, 51);
    text-overflow: ellipsis;
    line-height: normal;
}

span {
    text-decoration: underline;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.word-wrap {
    text-align: left;
    word-wrap: break-word; 
    font-size: 18px;
    line-height: 30px;
    text-align-last: left;
    /*text-emphasis-color: rgb(55, 54, 54);*/
}

.word-wrap-noalign {
    word-wrap: break-word; 
    font-size: 18px;
    line-height: 30px;
    /*text-emphasis-color: rgb(55, 54, 54);*/
}

.HIGHLIGHT {
    text-decoration: underline;
    text-decoration-color: rgb(157, 157, 157);
    text-decoration-thickness: 2px;
    transition: all 0.25s;
}

.HIGHLIGHT:hover {
    text-decoration-color: rgb(0, 0, 0)
}

.decorLines {
  position: relative;
  text-align: center;
}

.decorLines {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  max-width: 700px;
  margin: 0 auto;
}

.decorLines .line {
  flex: 1;
  height: 5px;
  background-color: rgb(219, 94, 94);
  border-radius: 2px;
}

.decorLines .text {
  white-space: nowrap;
  font-weight: bold;
}